div.listbox-area {
  height: 100%;
  width: 50%;
}

#myInput {
  width: 100%;
  height: 2em; /* Height 2*size of font */
  font-size: 16px; /* Increase font-size */
  padding: 12px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#listOfHymns {
  width: 100%;
}

#listOfHymnsItem {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#listOfHymnsItem {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  width: 100%;
  height: 100%;
}

/* OLD LIST CSS
:host {
  display: flex;
  place-content: center center;
  align-items: center;
  flex-direction: column;
}

::ng-deep
  .alpha-search
  .alpha-search-content
  .alpha-search-input
  .icon:last-child {
  left: auto;
  right: 20px;
}
*/
