:host {
  display: flex;
  place-content: center center;
  align-items: center;
  flex-direction: column;
}

::ng-deep
  .alpha-search
  .alpha-search-content
  .alpha-search-input
  .icon:last-child {
  left: auto;
  right: 20px;
}
