img {
  border-radius: 50%;
}

:host {
  position: relative;
  display: block;
}

.person-selector {
  position: relative;
}

.tie-selector {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 1;
}
