Selected hymns: {{ hymns }}
<div>
  <app-hymn-select [(selectedHymns)]="hymns"></app-hymn-select>
</div>
{{ person }} is speaking during {{ session }} wearing {{ tieColor }} tie.
<app-person-selector
  [(session)]="session"
  [(tieColor)]="tieColor"
  [alt]="person"
  src="assets/people/russell.jpg"
></app-person-selector>
The choir will wear {{ choirColor }}.
<app-choir-swipe-select [(selectedColor)]="choirColor"></app-choir-swipe-select>

<!--<app-person-details-selector-->
<!--  alt="Russel M. Nelson"-->
<!--  src="assets/people/russell.jpg"-->
<!--&gt;</app-person-details-selector>-->
There will be new temples in {{ temples }}
<app-temple-map [(selectedRegionNames)]="temples" mode="world"></app-temple-map>
<!--<app-temple-map mode="usa"></app-temple-map>-->
