<p>demo works!</p>

<div class="person-selector" style="width: 100%; height: 300px">
  <swiper
    (swiperClick)="selectedPerson = $event[0].clickedIndex"
    [(index)]="selectedPerson"
  >
    <ng-template [ngForOf]="['russell', 'dallin', 'henry']" let-person ngFor>
      <div style="width: 300px; height: 300px; text-align: center">
        <img [src]="'assets/people/' + person + '.jpg'" height="300" />
      </div>
    </ng-template>
  </swiper>
</div>

<div
  class="tie-selector"
  style="width: 100%; display: flex; justify-content: center"
>
  <div style="width: 100%; max-width: 500px; height: 100px">
    <swiper
      (swiperClick)="
        click($event); selectedTieColor[selectedPerson] = $event[0].clickedIndex
      "
      [(index)]="selectedTieColor[selectedPerson]"
    >
      <ng-template
        [ngForOf]="[
          'brown',
          'pink',
          'red',
          'purple',
          'black',
          'blue',
          'sky',
          'green',
          'orange',
          'yellow'
        ]"
        let-color
        ngFor
      >
        <div style="width: 100px; height: 100px; text-align: center">
          <img [src]="'assets/ties/' + color + '-tie.jpg'" height="100" />
        </div>
      </ng-template>
    </swiper>
  </div>
</div>

<div
  class="session-selector"
  style="width: 100%; display: flex; justify-content: center; margin-top: 20px"
>
  <div style="width: 100%; max-width: 500px; height: 25px">
    <swiper
      (swiperClick)="selectedSession[selectedPerson] = $event[0].clickedIndex"
      [(index)]="selectedSession[selectedPerson]"
    >
      <ng-template
        [ngForOf]="['Sat AM', 'Sat PM', 'Special', 'Sun AM', 'Sun PM']"
        let-session
        ngFor
      >
        <div
          style="
            width: 100px;
            height: 25px;
            text-align: center;
            border-radius: 50%;
            background: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 4px;
          "
        >
          {{ session }}
        </div>
      </ng-template>
    </swiper>
  </div>
</div>

<app-swipe-select
  [(selectedIndex)]="onePerson"
  [array]="persons"
></app-swipe-select>
